.app {
  text-align: center;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 19vw;
  justify-content: center;
  gap: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.page-title{
  display: flex;
  max-width: 65%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -40px;
  padding-bottom: 30px;
  padding-right: -10px;
  padding-left: 50px;
  
  justify-content: space-between;
}
.page-title span{
  font-size: 30px;
  color: #5f1478;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
