.new-card-button{
    color:#ffffff;
    background-color: #e76316;
    border-radius: 7px;
    border: 0px;
    padding: 12px 30px;
    font-size: 18px;
    margin-right: 70px;
    cursor: pointer;
}
.new-card-button:hover{
    filter: brightness(0.9);
}
.btn-close-modal{
    cursor: pointer;
    border: none;
    background: none;
    justify-self: flex-end;
    margin-left: 350px;
}
.create-card-button{
    color:#ffffff;
    background-color: #e76316;
    border-radius: 7px;
    border: 0px;
    padding: 12px 30px;
    font-size: 18px;
    float: right;
    cursor: pointer;
    margin-top: 20px;
}
.create-card-button:hover{
    filter: brightness(0.9);
}